@use 'src/styles/reset';

/* color palette from <https://github.com/vuejs/theme> */
:root,
:host {
  /** safe area */
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);

  /* height */
  --full-height: 100dvh;
  --half-height: 50dvh;

  /** width */
  --full-width: 100dvw;
  --half-width: 50dvw;

  /* font variables */
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  /** source colors */
  --white-source: 255 255 255;
  --white-soft-source: 230 231 238;
  --grey-source: 200 208 231;
  --black-source: 0 0 0;
  --black-soft-source: 68 71 106;
  --black-strong-source: 49 52 75;
  --purple-source: 46 0 255;

  /* ui color variables */
  --white: rgb(var(--white-source));
  --white-soft: rgb(var(--white-soft-source));
  --grey: rgb(var(--grey-source));
  --grey-50: rgba(var(--grey-source) / 50%);
  --black: rgb(var(--black-source));
  --black-soft: rgb(var(--black-soft-source));
  --black-strong: rgb(var(--black-strong-source));
  --purple: rgb(var(--purple-source));

  /** semantic colors */
  --text-color: var(--black-soft);
  --text-color-focused: var(--purple);
  --border-color: var(--grey-50);
  --background-color: var(--white-soft);
  --shadow-color-light: var(--white);
  --shadow-color-dark: var(--grey);

  /* Transforms */
  --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  /* Bow shadows */
  --box-shadow-flat: none;
  --box-shadow-raised-0: 0.05rem 0.05rem 0.3rem var(--shadow-color-dark), -0.05rem -0.05rem 0.2rem var(--shadow-color-light),
    inset 0 0 0 0 var(--shadow-color-light), inset 0 0 0 0 var(--shadow-color-light);
  --box-shadow-raised-1: 0.1rem 0.1rem 0.3rem var(--shadow-color-dark), -0.1rem -0.1rem 0.2rem var(--shadow-color-light),
    inset 0 0 0 0 var(--shadow-color-light), inset 0 0 0 0 var(--shadow-color-light);
  --box-shadow-raised-2: 0.3rem 0.3rem 0.3rem var(--shadow-color-dark), -0.2rem -0.2rem 0.2rem var(--shadow-color-light),
    inset 0 0 0 0 var(--shadow-color-light), inset 0 0 0 0 var(--shadow-color-light);
  --box-shadow-inset-1: 0 0 0 0 var(--shadow-color-light), 0 0 0 0 var(--shadow-color-light), inset 0.1rem 0.1rem 0.3rem var(--shadow-color-dark),
    inset -0.1rem -0.1rem 0.2rem var(--shadow-color-light);
  --box-shadow-inset-2: 0 0 0 0 var(--shadow-color-light), 0 0 0 0 var(--shadow-color-light), inset 0.3rem 0.3rem 0.4rem var(--shadow-color-dark),
    inset -0.2rem -0.2rem 0.3rem var(--shadow-color-light);

  /* cursor highlight */
  *::selection {
    background-color: var(--grey);
  }

  @media (display-mode: standalone) {
    /* height */
    --full-height: 100vh;
    --half-height: 50vh;

    /** width */
    --full-width: 100vw;
    --half-width: 50vw;
  }
}
